.play::before,.play::after { display: block; content: ""; position: absolute; }
.play::before { border-top: 6px solid transparent; border-bottom: 6px solid transparent; border-left: 10px solid rgb(97, 121, 166); margin: 6px 0px 0px 8px; }
.play{ width: 24px; height: 24px; border-radius: 50%; margin: 11px auto 0px; border: 2px solid rgb(97, 121, 166); }
.stop::before,.stop::after { display: block; content: ""; position: absolute; }
.stop::before { background: rgb(97, 121, 166); margin: 7px; width: 10px; height: 10px; }
.stop{ width: 24px; height: 24px; border-radius: 50%; margin: 11px auto 0px; border: 2px solid rgb(97, 121, 166); }
.pause::before,.pause::after { display: block; content: ""; position: absolute; }
.pause::before { margin: 7px 2px 0px 7px; }
.pause::before,.pause::after { background: rgb(97, 121, 166); width: 4px; height: 10px; }
.pause::after { margin: 7px 2px 0px 13px; }
.pause{ width: 24px; height: 24px; border-radius: 50%; margin: 11px auto 0px; border: 2px solid rgb(97, 121, 166); }
.back::before,.back::after { display: block; content: ""; position: absolute; }
.back::before { margin: 6px 0px 0px 4px; }
.back::before,.back::after { border-top: 6px solid transparent; border-bottom: 6px solid transparent; border-right: 7px solid rgb(97, 121, 166); }
.back::after { margin: 6px 0px 0px 10px; }
.back{ width: 24px; height: 24px; border-radius: 50%; margin: 11px auto 0px; border: 2px solid rgb(97, 121, 166); }
.next::before,.next::after { display: block; content: ""; position: absolute; }
.next::before { margin: 6px 0px 0px 7px; }
.next::before,.next::after { border-top: 6px solid transparent; border-bottom: 6px solid transparent; border-left: 7px solid rgb(97, 121, 166); }
.next::after { margin: 6px 0px 0px 13px; }
.next{ width: 24px; height: 24px; border-radius: 50%; margin: 11px auto 0px; border: 2px solid rgb(97, 121, 166); }
.stripes::before,.stripes::after { display: block; content: ""; position: absolute; }
.stripes::after { width: 12px; height: 2px; background: rgb(97, 121, 166); margin: 11px 0px 0px 6px; box-shadow: rgb(97, 121, 166) 0px 4px 0px, rgb(97, 121, 166) 0px -4px 0px; }
.stripes{ width: 24px; height: 24px; border-radius: 50%; margin: 11px auto 0px; border: 2px solid rgb(97, 121, 166); }
.arrowup::before,.arrowup::after { display: block; content: ""; position: absolute; }
.arrowup::after { width: 4px; height: 7px; background: rgb(97, 121, 166); margin: 11px 0px 0px 10px; }
.arrowup::before { width: 0px; border-left: 6px solid transparent; border-right: 6px solid transparent; border-bottom: 6px solid rgb(97, 121, 166); margin: 6px 0px 0px 6px; }
.arrowup{ width: 24px; height: 24px; border-radius: 50%; margin: 11px auto 0px; border: 2px solid rgb(97, 121, 166); }
.arrowdown::before,.arrowdown::after { display: block; content: ""; position: absolute; }
.arrowdown::after { width: 4px; height: 7px; background: rgb(97, 121, 166); margin: 7px 0px 0px 10px; }
.arrowdown::before { width: 0px; border-left: 6px solid transparent; border-right: 6px solid transparent; border-top: 6px solid rgb(97, 121, 166); margin: 13px 0px 0px 6px; }
.arrowdown{ width: 24px; height: 24px; border-radius: 50%; margin: 11px auto 0px; border: 2px solid rgb(97, 121, 166); }
.arrowright::before,.arrowright::after { display: block; content: ""; position: absolute; }
.arrowright::after { width: 7px; height: 4px; background: rgb(97, 121, 166); margin: 10px 0px 0px 11px; }
.arrowright::before { width: 0px; border-top: 6px solid transparent; border-bottom: 6px solid transparent; border-right: 7px solid rgb(97, 121, 166); margin: 6px 0px 0px 5px; }
.arrowright{ width: 24px; height: 24px; border-radius: 50%; margin: 11px auto 0px; border: 2px solid rgb(97, 121, 166); }
.arrowleft::before,.arrowleft::after { display: block; content: ""; position: absolute; }
.arrowleft::after { width: 7px; height: 4px; background: rgb(97, 121, 166); margin: 10px 0px 0px 6px; }
.arrowleft::before { width: 0px; border-top: 6px solid transparent; border-bottom: 6px solid transparent; border-left: 7px solid rgb(97, 121, 166); margin: 6px 0px 0px 12px; }
.arrowleft{ width: 24px; height: 24px; border-radius: 50%; margin: 11px auto 0px; border: 2px solid rgb(97, 121, 166); }
.clock::before,.clock::after { display: block; content: ""; position: absolute; }
.clock::before { width: 2px; height: 8px; margin: 6px 0px 0px 11px; }
.clock::before,.clock::after { background: rgb(97, 121, 166); border-radius: 2px; }
.clock::after { width: 6px; height: 2px; margin: 14px 0px 0px 11px; transform: rotate(35deg); }
.clock{ width: 24px; height: 24px; border: 2px solid rgb(97, 121, 166); border-radius: 50%; margin: 11px auto 0px; }
.points::before,.points::after { display: block; content: ""; position: absolute; }
.points::after { width: 4px; height: 4px; background: rgb(97, 121, 166); border-radius: 50%; margin: 10px 0px 0px 4px; box-shadow: rgb(97, 121, 166) 6px 0px 0px, rgb(97, 121, 166) 12px 0px 0px; }
.points{ width: 24px; height: 24px; border: 2px solid rgb(97, 121, 166); border-radius: 50%; margin: 11px auto 0px; }
.video::before,.video::after { display: block; content: ""; position: absolute; }
.video::after { border-width: 6px 10px; border-style: solid; border-color: transparent rgb(97, 121, 166) transparent transparent; margin: 1px 0px 0px 2px; }
.video{ width: 16px; height: 14px; background: rgb(97, 121, 166); border-radius: 3px; float: left; margin: 19px 0px 0px 16px; }
.cloud::before,.cloud::after { display: block; content: ""; position: absolute; }
.cloud::before { height: 8px; width: 8px; margin: -4px 0px 0px 3px; }
.cloud::before,.cloud::after { background: rgb(97, 121, 166); border-radius: 50%; }
.cloud::after { height: 12px; width: 12px; margin: -7px 0px 0px 9px; }
.cloud{ background: rgb(97, 121, 166); height: 10px; border-radius: 5px; width: 24px; float: left; margin: 24px 0px 0px 12px; }
.comment::before,.comment::after { display: block; content: ""; position: absolute; }
.comment::before { margin: 5px 0px 0px 8px; width: 6px; height: 6px; border-bottom: 6px solid transparent; border-left: 6px solid rgb(97, 121, 166); }
.comment{ width: 20px; height: 14px; background: rgb(97, 121, 166); border-radius: 3px; float: left; margin: 17px 0px 0px 15px; }
.heart::before,.heart::after { display: block; content: ""; position: absolute; }
.heart::after { position: absolute; width: 10px; border-radius: 50%; margin: -5px 0px 0px 5px; }
.heart::after,.heart{ height: 10px; background: rgb(97, 121, 166); }
.heart{ transform: rotate(45deg); width: 15px; border-radius: 10px 0px 0px 10px; margin: 20px 0px 0px 16px; }
.yes::before,.yes::after { display: block; content: ""; position: absolute; }
.yes::after { transform: rotate(90deg); width: 10px; margin: 3px 0px 0px 13px; }
.yes::after,.yes{ border-radius: 4px; height: 4px; background: rgb(97, 121, 166); }
.yes{ float: left; margin: 22px 0px 0px 18px; transform: rotate(135deg); width: 20px; }
.no::before,.no::after { display: block; content: ""; position: absolute; }
.no::after { transform: rotate(90deg); }
.no::after,.no{ width: 20px; border-radius: 4px; height: 4px; background: rgb(97, 121, 166); }
.no{ float: left; margin: 22px 0px 0px 15px; transform: rotate(45deg); }
.search::before,.search::after { display: block; content: ""; position: absolute; }
.search::after { background: rgb(97, 121, 166); transform: rotate(45deg); height: 4px; border-radius: 2px; width: 6px; margin: 8px 0px 0px 7px; }
.search{ border: 3px solid rgb(97, 121, 166); height: 8px; border-radius: 50%; width: 8px; float: left; margin: 17px 0px 0px 18px; }
.wheels::before,.wheels::after { display: block; content: ""; position: absolute; }
.wheels{ width: 16px; height: 16px; border: 1px dashed rgb(97, 121, 166); border-radius: 50%; box-shadow: rgb(97, 121, 166) 0px 0px 0px 3px inset; margin: 16px 0px 0px 15px; }
.share::before,.share::after { display: block; content: ""; position: absolute; }
.share::before { width: 6px; height: 6px; margin: 6px 0px 0px -4px; background: rgb(97, 121, 166); border-radius: 50%; box-shadow: rgb(97, 121, 166) 10px 0px 0px, rgb(97, 121, 166) 0px -10px 0px; }
.share{ width: 8px; height: 8px; border-width: 1px 1px 2px 2px; border-style: solid; border-color: transparent transparent rgb(97, 121, 166) rgb(97, 121, 166); border-image: initial; transform: rotate(45deg); margin: 20px 0px 0px 21px; }
.marker::before,.marker::after { display: block; content: ""; position: absolute; }
.marker::after { width: 8px; height: 8px; position: absolute; margin: 4px 0px 0px 4px; background: rgb(42, 42, 52); border-radius: 50%; }
.marker{ width: 16px; height: 16px; border-radius: 50% 50% 50% 0px; background: rgb(97, 121, 166); transform: rotate(-45deg); left: 50%; top: 50%; margin: 16px 0px 0px 16px; }
.cam::before,.cam::after { display: block; content: ""; position: absolute; }
.cam::before { width: 5px; height: 5px; border-radius: 50%; margin: 0px 0px 0px 13px; }
.cam::before,.cam::after { background: rgb(42, 42, 52); }
.cam::after { width: 8px; height: 8px; border-radius: 50%; margin: 2px 0px 0px 3px; }
.cam::after,.cam{ border: 2px solid rgb(97, 121, 166); }
.cam{ width: 18px; height: 18px; border-radius: 3px; box-shadow: rgb(97, 121, 166) 0px 7px 0px inset; margin: 14px 0px 0px 14px; }
.calendar::before,.calendar::after { display: block; content: ""; position: absolute; }
.calendar::before { margin: -6px 0px 0px 2px; z-index: 1; }
.calendar::before,.calendar::after { width: 2px; height: 5px; background: rgb(42, 42, 52); border: 2px solid rgb(97, 121, 166); border-radius: 2px; }
.calendar::after { margin: -6px 0px 0px 10px; }
.calendar{ width: 18px; height: 13px; border: 2px solid rgb(97, 121, 166); border-radius: 3px; box-shadow: rgb(97, 121, 166) 0px 3px 0px inset; margin: 18px 0px 0px 14px; }
.link::before,.link::after { display: block; content: ""; position: absolute; }
.link::before { width: 6px; height: 8px; border-width: 2px 2px 0em; border-style: solid; border-color: rgb(97, 121, 166) rgb(97, 121, 166) transparent; border-image: initial; border-radius: 6px 6px 0px 0px; margin: -14px 0px 0px -2px; }
.link::after { width: 2px; height: 10px; background: rgb(97, 121, 166); border-radius: 1px; margin: -7px 0px 0px 2px; }
.link{ width: 6px; height: 8px; border-width: 0em 2px 2px; border-style: solid; border-color: transparent rgb(97, 121, 166) rgb(97, 121, 166); border-image: initial; border-radius: 0px 0px 6px 6px; margin: 24px 0px 0px 15px; transform: rotate(45deg); }
.doc::before,.doc::after { display: block; content: ""; position: absolute; }
.doc::after { width: 8px; height: 8px; border-radius: 0px 0px 2px; background-image: -webkit-linear-gradient(left top, rgb(42, 42, 52) 0% 50%, rgb(97, 121, 166) 51% 100%); margin: -2px 0px 0px -2px; }
.doc::before { width: 10px; height: 1px; background: rgb(97, 121, 166); margin: 9px 0px 0px 3px; box-shadow: rgb(97, 121, 166) 0px 3px 0px, rgb(97, 121, 166) 0px 6px 0px; }
.doc{ width: 16px; height: 20px; border: 2px solid rgb(97, 121, 166); border-radius: 3px; margin: 14px 0px 0px 15px; }
.macbook::before,.macbook::after { display: block; content: ""; position: absolute; }
.macbook::after { width: 30px; height: 2px; background: rgb(97, 121, 166); border-radius: 0px 0px 2px 2px; margin: 14px 0px 0px -6px; }
.macbook::before { width: 8px; height: 1px; background: rgba(0, 0, 0, 0.6); margin: 14px 0px 0px 5px; z-index: 1; }
.macbook{ width: 18px; height: 12px; border: 2px solid rgb(97, 121, 166); border-radius: 0.2em 0.2em 0px 0px; margin: 15px 0px 0px 14px; }
.akku::before,.akku::after { display: block; content: ""; position: absolute; }
.akku::after { width: 2px; border-radius: 2px; margin: 0px 0px 0px 20px; }
.akku::after,.akku{ height: 8px; background: rgb(97, 121, 166); }
.akku{ width: 16px; border: 2px solid rgb(42, 42, 52); border-radius: 2px; margin: 18px 0px 0px 14px; box-shadow: rgb(97, 121, 166) 0px 0px 0px 2px, rgb(42, 42, 52) -4px 0px 0px inset; }
.phone::before,.phone::after { display: block; content: ""; position: absolute; }
.phone::after { width: 5px; height: 18px; margin: 3px 0px 0px -1px; border-radius: 100%; }
.phone::after,.phone{ background: rgb(97, 121, 166); }
.phone{ width: 8px; height: 8px; border-radius: 8px 5px 5px 8px; box-shadow: rgb(97, 121, 166) 0px 16px 0px 0px; transform: rotate(45deg); margin: 14px 0px 0px 27px; }
.iphone::before,.iphone::after { display: block; content: ""; position: absolute; }
.iphone::after { height: 1px; width: 5px; margin: 0px 0px 0px 4px; }
.iphone::after,.iphone::before { background: rgb(42, 42, 52); border-radius: 3px; }
.iphone::before { height: 3px; width: 3px; margin: 20px 0px 0px 5px; }
.iphone{ height: 22px; width: 13px; border: 2px solid rgb(97, 121, 166); border-radius: 3px; box-shadow: rgb(97, 121, 166) 0px 2px 0px inset, rgb(97, 121, 166) 0px -3px 0px inset; margin: 11px 0px 0px 16px; }
.mail::before,.mail::after { display: block; content: ""; position: absolute; }
.mail::after { transform: rotate(35deg); margin: 3px 0px 0px -2px; }
.mail::after,.mail::before { width: 15px; height: 2px; background: rgb(97, 121, 166); border-radius: 3px; }
.mail::before { transform: rotate(-35deg); margin: 3px 0px 0px 10px; }
.mail{ width: 22px; height: 16px; border: 2px solid rgb(97, 121, 166); border-radius: 3px; margin: 14px 0px 0px 12px; }
.trash::before,.trash::after { display: block; content: ""; position: absolute; }
.trash::after { width: 20px; margin: -3px 0px 0px -4px; }
.trash::after,.trash::before { background: rgb(97, 121, 166); height: 3px; border-radius: 2px; }
.trash::before { width: 6px; margin: -6px 0px 0px 3px; }
.trash{ border: 2px solid rgb(97, 121, 166); width: 12px; height: 14px; border-radius: 0px 0px 2px 2px; margin: 17px 0px 0px 17px; }
.upload::before,.upload::after { display: block; content: ""; position: absolute; }
.upload::before { width: 4px; height: 8px; background: rgb(97, 121, 166); margin: -6px 0px 0px 7px; }
.upload::after { border-style: solid; border-color: transparent transparent rgb(97, 121, 166); border-width: 5px; margin: -16px 0px 0px 4px; }
.upload{ width: 18px; height: 6px; border-right: 3px solid rgb(97, 121, 166); border-bottom: 3px solid rgb(97, 121, 166); border-left: 3px solid rgb(97, 121, 166); border-image: initial; border-top: none; margin: 24px 0px 0px 13px; }
.download::before,.download::after { display: block; content: ""; position: absolute; }
.download::before { width: 4px; height: 8px; background: rgb(97, 121, 166); margin: -11px 0px 0px 7px; }
.download::after { border-style: solid; border-color: rgb(97, 121, 166) transparent transparent; border-width: 5px; margin: -3px 0px 0px 4px; }
.download{ width: 18px; height: 6px; border-right: 3px solid rgb(97, 121, 166); border-bottom: 3px solid rgb(97, 121, 166); border-left: 3px solid rgb(97, 121, 166); border-image: initial; border-top: none; margin: 24px 0px 0px 13px; }
.profil::before,.profil::after { display: block; content: ""; position: absolute; }
.profil::before { width: 8px; height: 9px; border-radius: 50%; margin: -10px 0px 0px 4px; }
.profil::before,.profil{ background: rgb(97, 121, 166); }
.profil{ border-radius: 1em 1em 0.5em 0.5em; width: 16px; height: 8px; margin: 24px 0px 0px 16px; }
.key::before,.key::after { display: block; content: ""; position: absolute; }
.key::after { width: 14px; height: 4px; border-radius: 0px 1px 4px 0px; border-bottom: 2px dotted rgb(42, 42, 52); background: rgb(97, 121, 166); margin: 0px 0px 0px 7px; }
.key{ width: 4px; height: 4px; border: 4px solid rgb(97, 121, 166); border-radius: 50%; margin: 18px 0px 0px 12px; }
.box::before,.box::after { display: block; content: ""; position: absolute; }
.box::after { width: 1px; height: 12px; margin: 3px 0px 0px 19px; }
.box::after,.box{ background-color: rgb(97, 121, 166); }
.box{ width: 16px; height: 18px; transform: perspective(50px) rotateY(-45deg); margin: 15px 0px 0px 15px; }
.youtube::before,.youtube::after { display: block; content: ""; position: absolute; }
.youtube::before { border-top: 5px solid transparent; border-bottom: 5px solid transparent; border-left: 8px solid rgb(42, 42, 52); margin: 4px 0px 0px 8px; }
.youtube{ width: 22px; height: 18px; border-radius: 20%; margin: 15px auto 0px; background: rgb(97, 121, 166); }
.browser::before,.browser::after { display: block; content: ""; position: absolute; }
.browser::after { background: rgb(97, 121, 166); width: 2px; height: 1px; margin: 2px 1px; box-shadow: rgb(97, 121, 166) 3px 0px 0px, rgb(97, 121, 166) 6px 0px 0px; }
.browser{ width: 20px; height: 17px; border-radius: 2px; margin: 15px auto 0px; border: 1px solid rgb(97, 121, 166); box-shadow: rgb(42, 42, 52) 0px 5px 0px inset, rgb(97, 121, 166) 0px 6px 0px inset; }
